$nav-li-span-padding: 15px 20px;
$top-menu-height-line-height: 47px; 

$price-color: #da14a0;
$button-bg-color: #da14a0;
$button-border-color: #ddd;
$active-color: #da14a0;
$normal-color: #000;
$filled-color: #da14a0;
$a-link-color: #000;
$links-a-color: #8e8e8e;
$show-top-panel-color: #ccc;
$top-bar-bg-color: #f8f8f8;
$normal-border-color: #ebebeb;
$normal-input-border-color: #ebebeb;
$main-nav-bg-color: #f8f8f8;
$button-color: #000;
$title-color: #000;
$footer-border-color:#616161;
$footer-sub-title-color: #000;
$footer-link-color:#f6f6f6;
$footer-link-hover-color: #f00;
$footer-text-color: #e8e8e8;
$footer-twitter-link: #da14a0;


$dark-body-color: #6f6f6f;
$dark-border-color: #3d3d3d;
$dark-title-color: #fff;
$dark-active-color: #1db4eb;
$dark-link-color: #6f6f6f;
$dark-price-color: #1db4eb;
