<?xml version="1.0"?>
<!--
/**
 * @category    Smartwave
 * @package        Smartwave_Legenda
 * @author        SW-THEMES
 * @copyright    Copyright 2014 Smartwave
 */
-->
<config>
    <modules>
        <Smartwave_Legenda>
            <version>1.0.0</version>
        </Smartwave_Legenda>
    </modules>
    <admin>
        <routers>
            <legenda>
                <use>admin</use>
                <args>
                    <module>Smartwave_Legenda</module>
                    <frontName>legenda</frontName>
                </args>
            </legenda>
        </routers>
    </admin>
    <global>
        <blocks>
            <legenda>
                <class>Smartwave_Legenda_Block</class>
            </legenda>
        </blocks>
        <helpers>
            <legenda>
                <class>Smartwave_Legenda_Helper</class>
            </legenda>
        </helpers>
        <models>
            <legenda>
                <class>Smartwave_Legenda_Model</class>
            </legenda>
        </models>
        <resources>
            <legenda_setup>
                <setup>
                    <module>Smartwave_Legenda</module>        
                    <class>Smartwave_Legenda_Model_Resource_Design_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </legenda_setup>
            <legenda_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </legenda_write>
            <legenda_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </legenda_read>
        </resources>
    </global>
    <adminhtml>
        <events>                
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <legenda>
                        <type>singleton</type>
                        <class>legenda/observer</class>
                        <method>legenda_controllerActionPostdispatchAdminhtmlSystemConfigSave</method>
                    </legenda>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <store_edit>
                <observers>
                    <zonda>
                        <type>singleton</type>
                        <class>legenda/observer</class>
                        <method>legenda_storeEdit</method>
                    </zonda>
                </observers>
            </store_edit>
        </events>
        <layout>
            <updates>
                <basket>
                    <file>smartwave_legenda.xml</file>
                </basket>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <legenda_setting>
            <general_settings>
                <page_style>wide</page_style>
				<favicon>1</favicon>
            </general_settings>
            <header_settings>
                <header_type>header-type-1</header_type>
				<top_panel>top_panel_block</top_panel>
				<top_bar_border>1</top_bar_border>
            </header_settings>
			<footer_settings>
				<pre_footer_enabled>1</pre_footer_enabled>
				<pre_footer>pre_footer</pre_footer>
				<footer_top_enabled>1</footer_top_enabled>
				<footer_top_column_1>sale_products</footer_top_column_1>
				<footer_top_column_1_size>3</footer_top_column_1_size>
				<footer_top_column_2>new_products</footer_top_column_2>
				<footer_top_column_2_size>3</footer_top_column_2_size>
				<footer_top_column_3>blog</footer_top_column_3>
				<footer_top_column_3_size>3</footer_top_column_3_size>
				<footer_top_column_4>flickr</footer_top_column_4>
				<footer_top_column_4_size>3</footer_top_column_4_size>
				<footer_top_column_5>0</footer_top_column_5>
				<footer_bottom_enabled>1</footer_bottom_enabled>
				<footer_bottom_column_1>custom</footer_bottom_column_1>
				<footer_bottom_column_1_custom>footer_about_company</footer_bottom_column_1_custom>
				<footer_bottom_column_1_size>3</footer_bottom_column_1_size>
				<footer_bottom_column_2>custom</footer_bottom_column_2>
				<footer_bottom_column_2_custom>footer_store_block</footer_bottom_column_2_custom>
				<footer_bottom_column_2_size>2</footer_bottom_column_2_size>
				<footer_bottom_column_3>custom</footer_bottom_column_3>
				<footer_bottom_column_3_custom>footer_service_block</footer_bottom_column_3_custom>
				<footer_bottom_column_3_size>2</footer_bottom_column_3_size>
				<footer_bottom_column_4>custom</footer_bottom_column_4>
				<footer_bottom_column_4_custom>footer_offers_block</footer_bottom_column_4_custom>
				<footer_bottom_column_4_size>2</footer_bottom_column_4_size>
				<footer_bottom_column_5>twitter</footer_bottom_column_5>
				<footer_bottom_column_5_size>3</footer_bottom_column_5_size>
				<copyright_enabled>1</copyright_enabled>
				<copyright_text>Magento Demo Store. All Rights Reserved.</copyright_text>
				<copyright_logo>images/logo.gif</copyright_logo>
			</footer_settings>
            <category>
                <effect_img>1</effect_img>
                <aspect_ratio>1</aspect_ratio>
                <ratio_width>400</ratio_width>
                <ratio_height>400</ratio_height>
				<main_cat_position>left</main_cat_position>
				<cat_side_block>catalog_side_block</cat_side_block>
            </category>
            <category_grid>
                <columns>4</columns>
            </category_grid>
			<product_view>
				<pro_side_block>catalog_side_block</pro_side_block>
			</product_view>
			<shopping_cart>
				<banner_block>cart_banner_block</banner_block>
			</shopping_cart>
            <product_label>
                <new>1</new>
                <sale>1</sale>
            </product_label>
			<contacts>
				<latitude>51.507622</latitude>
				<longitude>-0.1305</longitude>
				<zoom>17</zoom>
				<infoblock><![CDATA[<h3>Place for nice title</h3><p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p><h6>Contact informations</h6><p>30 South Park Avenue<br> San Francisco, CA 94108<br> USA</p><p><strong>Phone:</strong> (123) 456-7890<br> <strong>Fax:</strong> +08 (123) 456-7890<br> <strong>Email:</strong> <a href="#">contact@companyname.com</a><br> <strong>Web:</strong> <a href="#">companyname.com</a></p>]]></infoblock>
			</contacts>
			<custom_settings>
				<custom_css>0</custom_css>
			</custom_settings>
			<install>
				<overwrite_blocks>1</overwrite_blocks>
				<overwrite_pages>1</overwrite_pages>
			</install>
        </legenda_setting>
        <legenda_design>
            <general>
                <theme_style>default</theme_style>
            </general>
			<colors>
				<txt_color>#6f6f6f</txt_color>
				<link_color>#6f6f6f</link_color>
				<title_color>#000000</title_color>
				<active_color>#ed1c2e</active_color>
				<btn_color>#000000</btn_color>
				<btn_filled_color>#ffffff</btn_filled_color>
				<price_color>#ed1c2e</price_color>
				<menu_icon_color>#d3d3d3</menu_icon_color>
				<cat_lb1_bg_color>#f5b507</cat_lb1_bg_color>
				<cat_lb1_txt_color>#ffffff</cat_lb1_txt_color>
				<cat_lb2_bg_color>#db2920</cat_lb2_bg_color>
				<cat_lb2_txt_color>#ffffff</cat_lb2_txt_color>
			</colors>
			<font>
				<font_size>13</font_size>
				<primary_font_family_group>"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif</primary_font_family_group>
				<heading_font_family_group>Georgia, serif</heading_font_family_group>
				<sub_font_family_group>Georgia, serif</sub_font_family_group>
			</font>
			<page>
				<main_bg>#ffffff</main_bg>
				<main_bg_texture>0</main_bg_texture>
				<body_bg>#ffffff</body_bg>
				<body_bg_type>texture</body_bg_type>
				<body_bg_texture>0</body_bg_texture>
			</page>
			<header>
				<top_bg_color>#ffffff</top_bg_color>
				<top_link_color>#8e8e8e</top_link_color>
				<top_border_color>#dbdbdb</top_border_color>
				<main_header_bg_color>#ffffff</main_header_bg_color>
				<nav_bg_color>#ffffff</nav_bg_color>
				<nav_font_color>#000000</nav_font_color>
				<nav_font_custom>0</nav_font_custom>
				<sticky_bg_color>#ffffff</sticky_bg_color>
				<sticky_bg_trans>1</sticky_bg_trans>
				<popup_bg_color>#ffffff</popup_bg_color>
				<popup_bg_trans>1</popup_bg_trans>
			</header>
			<footer>
				<footer_top_bg_color>#ffffff</footer_top_bg_color>
				<footer_top_ttl_color>#000000</footer_top_ttl_color>
				<footer_top_txt_color>#6f6f6f</footer_top_txt_color>
				<footer_top_active_color>#ed1c2e</footer_top_active_color>
				<footer_top_bt_border_color>#ebebeb</footer_top_bt_border_color>
				<footer_top_border>1</footer_top_border>
				<footer_top_tp_border_color>#dbdbdb</footer_top_tp_border_color>
				<footer_bottom_bg_color>#ffffff</footer_bottom_bg_color>
				<footer_bottom_ttl_color>#000000</footer_bottom_ttl_color>
				<footer_bottom_txt_color>#6f6f6f</footer_bottom_txt_color>
				<footer_bottom_active_color>#ed1c2e</footer_bottom_active_color>
				<footer_bottom_bt_border_color>#ebebeb</footer_bottom_bt_border_color>
				<footer_bottom_border>1</footer_bottom_border>
				<footer_bottom_tp_border_color>#dbdbdb</footer_bottom_tp_border_color>
				<footer_copyright_bg_color>#ffffff</footer_copyright_bg_color>
				<footer_copyright_txt_color>#6f6f6f</footer_copyright_txt_color>
				<footer_copyright_border>1</footer_copyright_border>
				<footer_copyright_tp_border_color>#dbdbdb</footer_copyright_tp_border_color>
			</footer>
        </legenda_design>
    </default>
</config>