<?xml version="1.0"?>
<config>
    <modules>
        <Smartwave_Revolutionslider>
            <version>1.0.0</version>
        </Smartwave_Revolutionslider>
    </modules>
    <global>
        <helpers>
            <revolutionslider>
                <class>Smartwave_Revolutionslider_Helper</class>
            </revolutionslider>
        </helpers>
        <models>
            <revolutionslider>
                <class>Smartwave_Revolutionslider_Model</class>
            </revolutionslider>
        </models>
        <blocks>
            <revolutionslider>
                <class>Smartwave_Revolutionslider_Block</class>
            </revolutionslider>
        </blocks>
    </global>
    <default>
        <revolutionslider>
            <general>
                <enabled>1</enabled>
                <block_id>home_slider_1</block_id>
            </general>
            <options>
                <delay>9000</delay>
                <startheight>500</startheight>
                <startwidth>1140</startwidth>
                
                <onHoverStop>on</onHoverStop>
                <hideThumbs>10</hideThumbs>
                <navigationType>bullet</navigationType>
                <navigationArrows>solo</navigationArrows>
                <navigationStyle>round</navigationStyle>
                <navigationHAlign>center</navigationHAlign>
                <navigationVAlign>bottom</navigationVAlign>
                <navigationHOffset>0</navigationHOffset>
                <navigationVOffset>15</navigationVOffset>
                <swipe_velocity>0.7</swipe_velocity>
                <swipe_max_touches>1</swipe_max_touches>
                <swipe_min_touches>1</swipe_min_touches>
                <drag_block_vertical>false</drag_block_vertical>
                <touchenabled>on</touchenabled>
                <hideThumbsOnMobile>off</hideThumbsOnMobile>
                <hideBulletsOnMobile>off</hideBulletsOnMobile>
                <hideArrowsOnMobile>off</hideArrowsOnMobile>
                <fullWidth>off</fullWidth>
                <autoHeight>off</autoHeight>
                <fullScreenAlignForce>off</fullScreenAlignForce>
                <forceFullWidth>off</forceFullWidth>
                <fullScreen>off</fullScreen>
                <shadow>0</shadow>
                <dottedOverlay>none</dottedOverlay>
            </options>
        </revolutionslider>
    </default>
    
</config>
